@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-kayneen {
    background-image: url('media/background.jpg');
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

@import "material-icons/iconfont/material-icons.css";
